[submodule "base/vim-polyglot"]
	path = base/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "base/tern_for_vim"]
	path = base/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "vim/base/surround"]
	path = vim/base/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/base/ag"]
	path = vim/base/ag
	url = git@github.com:rking/ag.vim.git
